.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: #c0c0c0;
    margin-top: 2em;
    color: #fff;
}

.footer span {
    text-align: center;
}