.mapdiv {
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}

.toolbox {
    position: absolute;
    bottom: 75px;
    right: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1;
    margin: 1;
    background-color: whitesmoke;
    border-radius: 16%;
    width: 39px;
}

.layersdial {
    position: absolute;
    bottom: 75px;
    left: 16px;
}